<div class="container">

  <h1>IdeaBox</h1>
  <h3>Because your ideas need a box</h3>


  <table class="table ideas">
    <thead>
      <tr>
        <td>Title</td>
        <td>Body</td>
        <td>Quality</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody class = "ideas-listing">
      <!-- result of get to /ideas -->
    </tbody>
  </table>

  <form class="add-new-idea">
    <h4>Add New Idea</h4>
    <div class="form-group">
      <label for='title'>Title</label>
      <textarea class='form-control' id='titleTextarea' rows='1'></textarea>
    </div>
    <div class="form-group">
      <label for='body'>Body</label>
      <textarea class='form-control' id='bodyTextarea' rows='10'></textarea>
    </div>
    <button class='btn btn-success' id='save-button'>Save</button>
  </form>

</div>
